body {
    font-family: Arial, sans-serif;
    background-color: #d1def8;
    margin-top: 12em;
    padding: 0px;
}

#container {
    width: 60%;
    height: auto;
    margin: 20px auto;
    background-color: white;
    border: 2px solid #000000;
}

header {
    text-align: center;
    padding: 5px;
    background-color: #c3d0fd;
    color: black;
}

#main_content {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.special_block {
    background-color: white;
}

label {
    padding: 5px;
}

#timeInput {
    padding: 10px;
    margin: 10px auto;
    font-size: 14px;
}

input[type="button"] {
    padding: 10px;
    margin-right: 5px;
    font-size: 14px;
    border: 1px solid #000000;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: whitesmoke;
}

    footer a {
        color: blue;
        text-decoration: none;
        padding: 5px 10px;
    }

    footer a:hover {
        color: darkblue;
    }

    footer a:active {
        color: blueviolet;
    }